In [1]:
!mysql -u root sqoop -e "DROP TABLE IF EXISTS tbl_order;"

In [2]:
!mysql -u root sqoop -e "CREATE TABLE tbl_order (order_id int(11) NOT NULL AUTO_INCREMENT, order_dt varchar(32) NOT NULL, user_id int(11) NOT NULL, PRIMARY KEY (order_id));"

In [3]:
import datetime
import random

start_dt = datetime.date(2015, 6, 1)
# print start_dt + datetime.timedelta(days=111)

with open('data.csv', 'wt') as dt:
    for order in range(10000, 20000):
        order_id = str(order)
        order_dt = start_dt + datetime.timedelta(days=random.randint(1, 111))
        user_id = random.randint(1000, 9000)
        dt.write("{},{},{}\n".format(order_id, order_dt, user_id))

In [4]:
!pwd

/Users/hqlgree2/Documents/github/hobby/python/p.notebook/user.analysis

In [5]:
!ls

data.csv            user.analysis.ipynb

In [6]:
!mysql -u root sqoop -e "load data infile '/Users/hqlgree2/Documents/github/hobby/python/p.notebook/user.analysis/data.csv' into table tbl_order fields terminated by ',' lines terminated by '\n';"

In [7]:
!mysql -u root sqoop -e "select register_dt, count(*) as register_num from (select user_id, min(order_dt) as register_dt  from tbl_order group by user_id order by register_dt ) x group by register_dt;"

+-------------+--------------+
| register_dt | register_num |
+-------------+--------------+
| 2015-06-02  |           72 |
| 2015-06-03  |           78 |
| 2015-06-04  |           90 |
| 2015-06-05  |           73 |
| 2015-06-06  |          105 |
| 2015-06-07  |           93 |
| 2015-06-08  |           77 |
| 2015-06-09  |           75 |
| 2015-06-10  |           84 |
| 2015-06-11  |           69 |
| 2015-06-12  |           85 |
| 2015-06-13  |           85 |
| 2015-06-14  |           75 |
| 2015-06-15  |           89 |
| 2015-06-16  |           72 |
| 2015-06-17  |           91 |
| 2015-06-18  |           86 |
| 2015-06-19  |           64 |
| 2015-06-20  |           76 |
| 2015-06-21  |           64 |
| 2015-06-22  |           68 |
| 2015-06-23  |           62 |
| 2015-06-24  |           79 |
| 2015-06-25  |           75 |
| 2015-06-26  |           81 |
| 2015-06-27  |           68 |
| 2015-06-28  |           78 |
| 2015-06-29  |           76 |
| 2015-06-30  |           62 |
| 2015-07-01  |           69 |
| 2015-07-02  |           65 |
| 2015-07-03  |           66 |
| 2015-07-04  |           60 |
| 2015-07-05  |           58 |
| 2015-07-06  |           71 |
| 2015-07-07  |           54 |
| 2015-07-08  |           60 |
| 2015-07-09  |           63 |
| 2015-07-10  |           55 |
| 2015-07-11  |           52 |
| 2015-07-12  |           58 |
| 2015-07-13  |           57 |
| 2015-07-14  |           57 |
| 2015-07-15  |           55 |
| 2015-07-16  |           50 |
| 2015-07-17  |           56 |
| 2015-07-18  |           39 |
| 2015-07-19  |           71 |
| 2015-07-20  |           49 |
| 2015-07-21  |           51 |
| 2015-07-22  |           46 |
| 2015-07-23  |           58 |
| 2015-07-24  |           47 |
| 2015-07-25  |           54 |
| 2015-07-26  |           38 |
| 2015-07-27  |           43 |
| 2015-07-28  |           43 |
| 2015-07-29  |           44 |
| 2015-07-30  |           50 |
| 2015-07-31  |           39 |
| 2015-08-01  |           45 |
| 2015-08-02  |           45 |
| 2015-08-03  |           42 |
| 2015-08-04  |           46 |
| 2015-08-05  |           45 |
| 2015-08-06  |           39 |
| 2015-08-07  |           38 |
| 2015-08-08  |           53 |
| 2015-08-09  |           34 |
| 2015-08-10  |           39 |
| 2015-08-11  |           41 |
| 2015-08-12  |           46 |
| 2015-08-13  |           46 |
| 2015-08-14  |           30 |
| 2015-08-15  |           29 |
| 2015-08-16  |           36 |
| 2015-08-17  |           48 |
| 2015-08-18  |           39 |
| 2015-08-19  |           38 |
| 2015-08-20  |           46 |
| 2015-08-21  |           28 |
| 2015-08-22  |           35 |
| 2015-08-23  |           48 |
| 2015-08-24  |           32 |
| 2015-08-25  |           30 |
| 2015-08-26  |           39 |
| 2015-08-27  |           29 |
| 2015-08-28  |           42 |
| 2015-08-29  |           41 |
| 2015-08-30  |           32 |
| 2015-08-31  |           27 |
| 2015-09-01  |           34 |
| 2015-09-02  |           46 |
| 2015-09-03  |           33 |
| 2015-09-04  |           26 |
| 2015-09-05  |           25 |
| 2015-09-06  |           33 |
| 2015-09-07  |           26 |
| 2015-09-08  |           28 |
| 2015-09-09  |           32 |
| 2015-09-10  |           34 |
| 2015-09-11  |           33 |
| 2015-09-12  |           27 |
| 2015-09-13  |           21 |
| 2015-09-14  |           23 |
| 2015-09-15  |           27 |
| 2015-09-16  |           31 |
| 2015-09-17  |           30 |
| 2015-09-18  |           21 |
| 2015-09-19  |           28 |
| 2015-09-20  |           23 |
+-------------+--------------+

In [8]:
!mysql -u root sqoop -e "select sum(register_cnt) as regi_sum from (select register_dt, count(*) as register_cnt from (select user_id, min(order_dt) as register_dt  from tbl_order group by user_id order by register_dt) x group by register_dt) as y;"

+----------+
| regi_sum |
+----------+
|     5719 |
+----------+

In [9]:
!mysql -u root sqoop -e "select count(distinct(user_id)) as user_cnt from tbl_order;"

+----------+
| user_cnt |
+----------+
|     5719 |
+----------+